<h1>Birds</h1>

<div class="row row-cols-1 row-cols-md-3 g-4">
  {{#each birds}}
    <div id="bird-{{this.id}}" class="col">
      <div class="card text-white bg-dark mb-3" style="max-width: 18rem;">

        <div class="card-header">{{this.commonName}}</div>
        <div class="card-body">
          <h5 class="card-title">{{this.scientificName}}</h5>
          <a class="btn btn-light" href="/birds/{{this.id}}">See details</a>
           <form class="d-inline" action="/birds/{{this.id}}/delete" method="post">
           <button type="submit" class="btn btn-danger">Delete</a>
           </form>
        </div>
      </div>
    </div>
  {{/each}}
</div>

<a class="btn btn-primary" href="/birds/newBird">Add new bird</a>

<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>