<h1>Cakes</h1>

<div class="row row-cols-1 row-cols-md-2 g-2">
    {{#each cakes}}
    <div id="cake-{{this.id}}" class="col">
        <div class="card mb-3" style="width: 25rem;">
            <div class="card-body">
                <h5 class="card-title">{{this.name}}</h5>
                <p class="card-text">{{this.previewDescription}}</p>
                <a class="btn btn-primary btn-lg btn-block" href="/cakes/{{this.id}}">See more</a>
                <form class="d-inline" action="/cakes/{{this.id}}/delete" method="post" style="max-width: 10rem">
                    <button type="submit" class="btn btn-danger">Delete SSR</a>
                </form>

                <button type="button" value="{{this.id}}" class="delete-btn btn btn-danger">
                    Delete Client
                </button>
            </div>
        </div>
    </div>
    {{/each}}
</div>

<a class="btn btn-primary" href="/cakes/new">Create new cake</a>

<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="/js/delete.js"></script>